$primary-color:         #43425D !default;
$secondary-color:       #009688 !default;
$warning-color:         #FF6565 !default;
$warning-color-dark:    #B92D00 !default;
$white:                   #FFFFFF !default;

html, body, #app, #app>div {
    height: 100%
  }

body > #root > div {
height: 100vh;
}

.login-container {
    background-color: $white;
    height: 100%;
    display: table;
}

.login-title{
    font-weight: 700;
    text-align: center;
}

.form-container{
    display: table-cell;
    vertical-align: middle;
}

.background-image{
    background: url("../img/background.png") 100%;
}

.btn.btn-secondary{
    background-color: $secondary-color;
    color: $white;
}
.btn.btn-secondary:hover,.btn.btn-secondary:focus{
    background-color: darken($secondary-color, 5%)!important;
}

.btn.btn-primary{
    background-color: $primary-color;
    color: $white;
}
.btn.btn-primary:hover,.btn.btn-primary:focus{
    background-color: darken($primary-color, 5%)!important;
}

.btn.btn-warning{
    background-color: $warning-color;
}
.btn.btn-warning:hover,.btn.btn-warning:focus{
    background-color: lighten($warning-color, 5%) !important;
}

.MuiButton-root{
    text-transform: none!important;
    padding: 6px 30px!important;
}

.MuiButton-containedPrimary {
    color: #fff;
    background-color: $primary-color !important;
}

.MuiButton-containedPrimary:hover {
    background-color: darken($primary-color, 5%)!important;
}

.MuiButton-outlinedPrimary {
    color: $primary-color !important;
}

.MuiIconButton-colorSecondary {
    color: $primary-color !important;
}

.MuiIconButton-colorSecondary.Mui-checked {
    color: $primary-color !important;
}

.row{
    margin: 15px;
}

table.clickable tr{
    cursor: pointer;
}

table.clickable tr:hover{
    background-color: darken($white,3%);
}